<!--<div data-ng-controller="PropertyListController">-->
    <div>
        <h1>Properties</h1>
        <a ui-sref="app.asset.list.create({ assetTypeCode: 'Property' })">New Property</a>
        <div class="asset_list_sub">
            <label for="search.propertyName">Property Name</label>
            <input type="text" id="search.propertyName" ng-model="search.propertyName" />
        </div>
        <div class="asset_list_sub">
            <label for="search.propertyTypeCode">Property Type</label>
            <input type="text" id="search.propertyTypeCode" ng-model="search.propertyTypeCode"/>
        </div>
        <div data-ng-init="find()" class="asset_list_sub">
            <ul>
                <li data-ng-repeat="property in properties | filter : search" class="assets">
                    <a ui-sref="app.asset.list.details({ assetTypeCode: property.asset.assetTypeCode, assetId: property.asset._id })">
                        <div>
                            <small data-ng-bind="property.propertyName" class="list_item"></small>
                            <small data-ng-bind="property.propertyTypeCode" class="list_item"></small>
                            <!--<small data-ng-bind="property.asset._id" class="list_item"></small>-->
                            <small data-ng-bind="property.propertyAddressState" class="list_item"></small>
     <!--                   <small data-ng-bind="property.created"></small>-->
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<!--</div>-->
<!--<div ui-view="details"></div>-->