<div data-ng-controller="PropertyController" data-ng-init="findOne()">
    <div class="asset_create">
        <h1>Edit Property</h1>
        <form data-ng-submit="update()" novalidate>
            <div class="total_input">
                <label for="assetTypeCode" class="label_inline">Asset Type</label>
                <div class="input_inline">
                    <input type="text" data-ng-model="property.asset.assetTypeCode" id="assetTypeCode" placeholder="" required ng-disabled="true" class="input_inline">
                </div>
            </div>
            <div class="total_input">
                <label for="propertyTypeCode" class="label_inline">Property Type</label>
                <div class="input_inline">
                    <input type="text" data-ng-model="property.propertyTypeCode" id="propertyTypeCode" placeholder="" required class="input_inline">
                </div>
            </div>
            <div class="total_input">
                <label for="propertyName" class="label_inline">Property Name</label>
                <div class="input_inline">
                    <input type="text" data-ng-model="property.propertyName" id="propertyName" placeholder="" required class="input_inline">
                </div>
            </div>
            <div class="total_input">
                <label for="propertyAddressStreet" class="label_inline">Property Address</label>
                <div class="input_inline">
                    <input type="text" data-ng-model="property.propertyAddressStreet" id="propertyAddressStreet" placeholder="" required class="input_inline">
                </div>
            </div>
            <div class="total_input">
                <label for="propertyAddressCity" class="label_inline">Property City</label>
                <div class="input_inline">
                    <input type="text" data-ng-model="property.propertyAddressCity" id="propertyAddressCity" placeholder="" required class="input_inline">
                </div>
            </div>
            <div class="total_input">
                <label for="propertyAddressState" class="label_inline">Property State</label>
                <div class="input_inline">
                    <input type="text" data-ng-model="property.propertyAddressState" id="propertyAddressState" placeholder="" required class="input_inline">
                </div>
            </div>
            <div class="total_input">
                <label for="propertyAddressZip" class="label_inline">Property Zip Code</label>
                <div class="input_inline">
                    <input type="text" data-ng-model="property.propertyAddressZip" id="propertyAddressZip" placeholder="" required class="input_inline">
                </div>
            </div>
            <div class="total_input">
                <input type="submit">
            </div>
            <div data-ng-show="error" class="total_input">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</div>