<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head lang="en">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--<section ng-view></section>-->
    <div ui-view="home"></div>
    <div ui-view="header"></div>
    <div ui-view="list"></div>
    <script type="text/javascript">
      window.user = <%- user %>;
    </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/lib/d3/d3.js"></script>

    <script type="text/javascript" src="/home/home.client.module.js"></script>
    <script type="text/javascript" src="/home/controllers/home.client.controller.js"></script>
    <!--<script type="text/javascript" src="/home/config/home.client.routes.js"></script>-->

    <script type="text/javascript" src="/users/users.client.module.js"></script>
    <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

    <script type="text/javascript" src="/header/header.client.module.js"></script>
    <script type="text/javascript" src="/header/controllers/header.client.controller.js"></script>

    <script type="text/javascript" src="/asset/asset.client.module.js"></script>
    <script type="text/javascript" src="/asset/services/asset.client.service.js"></script>

    <!--<script type="text/javascript" src="/asset/property.client.module.js"></script>-->
    <!--<script type="text/javascript" src="/asset/services/property.client.service.js"></script>-->
    <script type="text/javascript" src="/asset/controllers/property_list.client.controller.js"></script>
    <script type="text/javascript" src="/asset/controllers/property.client.controller.js"></script>

    <!--<script type="text/javascript" src="/asset/deal.client.module.js"></script>-->
    <!--<script type="text/javascript" src="/asset/services/deal.client.service.js"></script>-->
    <script type="text/javascript" src="/asset/controllers/deal_list.client.controller.js"></script>
    <script type="text/javascript" src="/asset/controllers/deal.client.controller.js"></script>

    <!--<script type="text/javascript" src="/asset/controllers/asset.client.controller.js"></script>-->

    <script type="text/javascript" src="/activity/activity.client.module.js"></script>
    <script type="text/javascript" src="/activity/services/activity.client.service.js"></script>
    <!--<script type="text/javascript" src="/activity/controllers/activity.client.controller.js"></script>-->
    <script type="text/javascript" src="/activity/controllers/financial_list.client.controller.js"></script>
    <script type="text/javascript" src="/activity/controllers/actuals.client.controller.js"></script>
    <script type="text/javascript" src="/activity/controllers/budget.client.controller.js"></script>
    <script type="text/javascript" src="/activity/controllers/forecast.client.controller.js"></script>

    <script type="text/javascript" src="/main.client.module.js"></script>
    <script type="text/javascript" src="/main.client.routes.js"></script>

    <!--<script type="text/javascript" src="/activity/activity.client.module.js"></script>-->

    <script type="text/javascript" src="/application.js"></script>

  </body>
</html>
