$baseColor = #539bbd
$backgroundColor = #2f2f2f
$textBoxBackgroundColor = #777777
$backgroundColor_Hover = #666666

body {
  padding: 2%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $backgroundColor;
}


a {
  color: #00B7FF;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

h1 {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  display: inline-block;
  min-width: 200px;
}
.create {
  display: inline-block;
}
span, p, label, h2, h1, h3 {
  color: $baseColor;
}

div.asset_list {
  display: inline;
  float: left;
  width: 30%;
  margin-right: 30px;
}

div.total_input {
    display: block;
    padding-top:3px;
    padding-bottom:3px;
}

.input_inline, div.input_inline, input.input_inline {
  diplay: inline;
  float:none;
}
.label_inline {
  display: inline-block;
  float:left;
  min-width:175px;
}

.asset_list_sub, .asset_list {
  padding-left:0px;
  padding-bottom: 8px;
}
/*
div.asset_list > div.asset_list_sub {
  width: 40%;
  display: block;
  margin-right: 0px;
}



div.asset_list > div.asset_list_sub > ul, div.asset_list > div.asset_list_sub > ul > li {
  display: block;
  margin-right: 0px;
}
*/
.asset_create {
  display: inline;
  float: left;
  width: 50%;
}

input {
  background-color: $textBoxBackgroundColor;
  color: inherit;
}

ul {
  list-style-type: none;
  text-indent: 0px;
  list-style-position: none;
  padding-left: 0px;
  //width: 100%;
  //margin-right: 50%;
}

ul.header {
  //height: 100px;
  text-align: center;
  background-color: #444444;
  padding-top: 30px;
  padding-bottom: 30px;
  //margin-left: 10%;
  //margin-right: 10%;
  width: 100%;
}

ul.header li {
  display: inline;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  //padding-bottom: 30px;
  float: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

ul.header > a > li {
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #66d69e;
}

ul.header > a.active > li {
  background-color: $backgroundColor_Hover;
}

.label {
  color: #999999;
}
.field {
  color: #00d6b2;
}

div.asset_list_sub > ul > li.assets > a > div > small.list_item {
    min-width: 150px;
    display: inline-block;
}

div.line_item_list, div.line_item_list > ul, div.line_item_list > ul > li.line_item {
  min-width: 600px;
}

div.line_item_list > ul > li.line_item > div {
  min-width: 150px;
}

div.line_item_list > ul > li.line_item {
  padding-top: 4px;
  padding-bottom: 4px;
}

div.line_item_list > ul > li.line_item > div > small.list_item {
  color: #00d6b2;
  min-width: 150px;
}

ul > li {
  padding-left: 0px;
  //padding-bottom: 10px;
  //padding-top: 10px;
}
ul li:hover {
  background-color: $backgroundColor_Hover;
}

ul > li > div {
  display: inline-block;
}

ul > li > .room_link {
  width: 200px;
  display: inline-block;
  //padding-top: 25px;
  //padding-bottom: 25px;
  vertical-align: middle;
  //margin-right: 30px;
}

ul > li > .room_meta {
  min-width: 200px;
  display: inline-block;
  vertical-align: middle;
}

ul > li > .room_individual {
  display: inline-block;
}

ul > li > .room_privacy {
  min-width: 160px;
  display: inline-block;
  vertical-align: middle;
}

ul > li > .room_edit {
  min-width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.assets.active {
  background-color: $backgroundColor_Hover;
}

.assets.ng-enter {
  animation: 0.6s item-enter;
}
.assets.ng-leave {
  animation: 0.6s item-leave;
}
.assets.ng-move {
  animation: 0.3s item-move;
}

@keyframes item-enter {
  0% {
    max-height: 0px;
    left: 0px;
    opacity: 0;
  }
  20% {
    max-height: 0px;
    left: 0px;
    opacity: 0;
  }
  40% {
    max-height: 0px;
    left: 0px;
    opacity: 0;
  }
  60% {
    max-height: 20px;
    left: 0px;
    opacity: 0.3;
  }
  80% {
    max-height: 40px;
    left: 0px;
    opacity: 0.7;
  }
  100% {
    max-height: 40px;
    left: 0px;
    opacity: 1;
  }
}
@keyframes item-leave {
  0% {
    left: 0px;
    max-height: 40px;
    opacity: 0.7;
  }
  20%{
    left: 0px;
    max-height: 40px;
    opacity: 0.3;
  }
  40% {
    left: 0px;
    max-height: 40px;
    opacity: 0;
  }
  60% {
    left: 0px;
    max-height: 0px;
    opacity: 0;
  }
  80% {
    left: 0px;
    max-height: 0px;
    opacity: 0;
  }
  100% {
    left: 0px;
    max-height: 0px;
    opacity: 0;
  }
}
@keyframes item-move {
  0% {
    opacity: 0;
    max-height: 40px;
  }
  20%{
    opacity: 0;
    max-height: 40px;
  }
  40% {
    opacity: 0;
    max-height: 40px;
  }
  60% {
    opacity: 0.3;
    max-height: 40px;
  }
  80% {
    opacity: 0.7;
    max-height: 40px;
  }
  100% {
    opacity: 1;
    max-height: 40px;
  }
}