$baseColor = #539bbd
$backgroundColor = #2f2f2f
$textBoxBackgroundColor = #777777
$backgroundColor_Hover = #666666

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $backgroundColor;
}

a {
  color: #00B7FF;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

h1 {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  display: inline-block;
  min-width: 200px;
}
.create {
  display: inline-block;
}
span, p, label, h2, h1, h3 {
  color: $baseColor;
}

input {
  background-color: $textBoxBackgroundColor;
  color: inherit;
}

ul {
  list-style-type: none;
  text-indent: 0px;
  list-style-position: none;
  padding-left: 0px;
  max-width: 50%;
  margin-right: 50%;
}
.label {
  color: #999999;
}
.field {
  color: #00d6b2;
}
ul > li {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
ul > li:hover {
  background-color: $backgroundColor_Hover;
}

ul > li > div {
  display: inline-block;
}

ul > li > .room_link {
  width: 200px;
  display: inline-block;
  //padding-top: 25px;
  //padding-bottom: 25px;
  vertical-align: middle;
  //margin-right: 30px;
}

ul > li > .room_meta {
  min-width: 200px;
  display: inline-block;
  vertical-align: middle;
}

ul > li > .room_individual {
  display: inline-block;
}

ul > li > .room_privacy {
  min-width: 160px;
  display: inline-block;
  vertical-align: middle;
}

ul > li > .room_edit {
  min-width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.room_info.ng-enter {
  animation: 0.35s target-enter;
}
.room_info.ng-leave {
  animation: 0.2s target-leave;
}

@keyframes target-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes target-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rooms_list.ng-enter {
  animation: 1.5s item-enter;
}
.rooms_list.ng-leave {
  animation: 1.5s item-leave;
}
.rooms_list.ng-move {
  animation: 1.5s item-move;
}

@keyframes item-enter {
  0% {
    max-height: 0;
    left: -300px;
    opacity: 0;
  }
  50% {
    max-height: 40px;
    left: -300px;
    opacity: 1;
  }
  100% {
    max-height: 40px;
    left: 0px;
    opacity: 1;
  }
}
@keyframes item-leave {
  0% {
    left: 0px;
    max-height: 40px;
  }
  50% {
    left: -300px;
    max-height: 40px;
  }
  100% {
    left: -300px;
    max-height: 0px;
  }
}
@keyframes item-move {
  0% {
    //opacity: 0;
    max-height: 0px;
  }
  100% {
    //opacity: 1;
    max-height: 40px;
  }
}