<div data-ng-controller="ActualsController" data-ng-init="openCreate()">
    <div class="asset_create" ng-if="subArtifactTypeCode=='Actuals' && artifactId=='0'">
        <h1>Create Actuals</h1>
        <form ng-submit="create()" novalidate>
            <div>
                <label for="activityTypeCode">Activity Type</label>
                <div>
                    <input type="text" data-ng-model="activityTypeCode" id="activityTypeCode" placeholder="" required>
                </div>
            </div>
            <div>
                <label for="property">Asset</label>
                <div>
                    <select data-ng-model="asset" ng-options="p.assetDetails.property.propertyName for p in properties track by p._id" id="property">

                    </select>
                </div>
            </div>
            <div>
                <label for="effectiveDate">Effective Date</label>
                <div>
                    <input type="text" data-ng-model="effectiveDate" id="effectiveDate" placeholder="" required>
                </div>
            </div>
            <div>
                <label for="statementDateBegin">Begin Date</label>
                <div>
                    <input type="text" data-ng-model="statementDateBegin" id="statementDateBegin" placeholder="" required>
                </div>
            </div>
            <div>
                <label for="statementDateEnd">End Date</label>
                <div>
                    <input type="text" data-ng-model="statementDateEnd" id="statementDateEnd" placeholder="" required>
                </div>
            </div>
            <div class="line_item_list">
                <ul>
                    <li data-ng-repeat="lineItem in lineItems" class="line_item">
                        <div>
                            <small data-ng-bind="lineItem.lineItemCode" class="list_item"></small>
                        </div>
                        <div>
                            <input type="text" data-ng-model="lineItem.lineItemAmount" class="list_item">
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <input type="submit">
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</div>