<div data-ng-controller="ForecastController" data-ng-init="findOne()">
    <div class="asset_create" ng-if="subArtifactTypeCode=='Forecast' && artifactId!='0'">
        <h1>View Forecast</h1>
        <form ng-submit="update()" novalidate>
            <!--            <div>
                            <label for="assetTypeCode">Asset Type</label>
                            <div>
                                <input type="text" data-ng-model="assetTypeCode" id="assetTypeCode" placeholder="" required>
                            </div>
                        </div>-->
            <div>
                <label for="activityTypeCode">Activity Type</label>
                <div>
                    <input type="text" data-ng-model="forecast.activityTypeCode" id="activityTypeCode" placeholder="" required>
                </div>
            </div>
            <div>
                <label for="property">Asset</label>
                <div>
                    <input type="text" data-ng-model="forecast.asset.assetDetails.property.propertyName" id="property" ng-disabled="true">
                </div>
            </div>
            <div>
                <label for="effectiveDate">Effective Date</label>
                <div>
                    <input type="text" data-ng-model="forecast.activityDetails.financial.effectiveDate | date:'MM/dd/yyyy'" id="effectiveDate" placeholder="" required>
                </div>
            </div>
            <div class="line_item_list">
                <ul>
                    <li data-ng-repeat="forecastStatement in forecast.activityDetails.financial.statements" class="line_item">
                        <div class="line_item_list">
                            <small class="list_item">Begin Date</small>
                            <div>
                                <input type="text" data-ng-model="forecastStatement.statementDateBegin | date:'MM/dd/yyyy'" class="list_item">
                            </div>
                            <small class="list_item">End Date</small>
                            <div>
                                <input type="text" data-ng-model="forecastStatement.statementDateEnd | date:'MM/dd/yyyy'" class="list_item">
                            </div>
                            <small class="list_item">Statement Type</small>
                            <div>
                                <input type="text" data-ng-model="forecastStatement.statementTypeCode" class="list_item">
                            </div>
                        </div>
                        <div class="line_item_list">
                            <small class="list_item">Line Items</small>
                            <ul>
                                <li data-ng-repeat="forecastLineItem in forecastStatement.statementLineItems" class="line_item">
                                    <div>
                                        <small data-ng-bind="forecastLineItem.lineItemCode" class="list_item"></small>
                                    </div>
                                    <div>
                                        <input type="text" data-ng-model="forecastLineItem.lineItemAmount" class="list_item">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <input type="submit">
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</div>